{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
  <div class="card-body">
    <h1>Welcome To The Custom Voting Application</h1>
    <br>
    <p class="text-justify">This is a Django application where the Admin can add the new Questions and anyone can vote on that particular question.<br>
        The results of all the voting done till now are displayed using the attractive ZingCharts API.
    </p>
    <br>
    <a class="btn btn-dark" href="{% url 'polls:index' %}">
        View All Available Questions</a
      >
  </div>
  </div>
{% endblock %}